@import "textfield/textfield.css";
@import "dropdown/dropdown.css";
@import "button/button.css";
@import "checkbox/checkbox.css";
@import "accordion/accordion.css";
@import "aside/aside.css";
@import "tabs/tabs.css";
@import "header/header.css";
@import "overview/overview.css";


:root {
    font-family: Graphik, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --columns-desktop: 12;
    --columns-tablet: 8;
    --columns-mobile: 4;

    --gap-desktop: 32px;
    --content-min-desktop: 1072px;
    --content-max-desktop: 1312px;

    --gap-tablet: 32px;
    --content-min-tablet: 672px;
    --content-max-tablet: 928px;

    --gap-mobile: 24px;
    --content-min-mobile: 296px;
    --content-max-mobile: 424px;

    --h1-font-size: 48px;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --h4-font-size: 18px;
    --p-lead-size: 24px;
    --p-18-size: 18px;
    --p-16-size: 16px;
    --p-14-size: 14px;

    --h1-font-size-mobile: 32px;
    --h2-font-size-mobile: 28px;
    --h3-font-size-mobile: 20px;
    --h4-font-size-mobile: 18px;
    --p-lead-size-mobile: 20px;
    --p-18-size-mobile: 18px;
    --p-16-size-mobile: 16px;
    --p-14-size-mobile: 14px;

    --line-height: 8px;

    --accent-1: #FF3A62;
    --accent-2: #3E29E3;
    --accent-3: #DD80ED;
    --gray: #CBCBCC;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Graphik", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

img {
    padding: 16px 0;
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    padding: 0 var(--gap-mobile);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--gap-mobile);
    max-width: var(--content-max-mobile);
}

.sidebar {
    height: 0;
    visibility: hidden;
    order: 1;
}

.main {
    order: 2;
}

@media (min-width: 672px) {

    .char-limiter {
        max-width: 100%;
        width: 55ch;
    }

    .sidebar {
        visibility: visible;
        order: 1;
        position: sticky;
        top: 200px;
        height: 100vh;
        overflow-y: auto;
        align-self: start;
        grid-column: span 2;
    }

    .main {
        grid-column: span 6;
    }

    .container {
        grid-template-columns: repeat(var(--columns-tablet), 1fr);
        gap: var(--gap-tablet);
        padding: 0 var(--gap-tablet);
        max-width: var(--content-max-tablet);
    }
}

@media (min-width: 1072px) {
    .container {
        grid-template-columns: repeat(var(--columns-desktop), 1fr);
        gap: var(--gap-desktop);
        padding: 0 var(--gap-desktop);
        max-width: var(--content-max-desktop);
    }

    .sidebar {
        order: 1;
    }

    .main {
        grid-column: span 9;
    }
}


.inner-grid-4 {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: var(--content-max-mobile);
    gap: 24px;
}

.inner-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: var(--content-max-mobile);
    gap: 24px;
}

.inner-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: var(--content-max-mobile);
    gap: 24px;
}

.inner-grid-4 > div > div {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

@media (max-width: 412px) {
    .inner-grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 672px) {
    .inner-grid-4 {
        gap: 32px;
        max-width: var(--content-max-tablet);
    }

    .inner-grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: var(--content-max-tablet);
        gap: 24px;
    }

    .inner-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: var(--content-max-tablet);
        gap: 24px;
    }
}

@media (min-width: 1072px) {
    .inner-grid-4 {
        gap: 32px;
    }

    .inner-grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

    .inner-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}


h1 {
    font-size: var(--h1-font-size-mobile);
    line-height: calc(var(--h1-font-size-mobile) + var(--line-height));
}

h2 {
    font-size: var(--h2-font-size-mobile);
    line-height: calc(var(--h2-font-size-mobile) + var(--line-height));
}

h3 {
    font-size: var(--h3-font-size-mobile);
    line-height: calc(var(--h3-font-size-mobile) + var(--line-height));
}

h4 {
    font-size: var(--h4-font-size-mobile);
    line-height: calc(var(--h4-font-size-mobile) + var(--line-height));
}

.p-lead {
    font-size: var(--p-lead-size-mobile);
    line-height: calc(var(--p-lead-size-mobile) + var(--line-height));
}

.p-18 {
    font-size: var(--p-18-size-mobile);
    line-height: calc(var(--p-18-size-mobile) + var(--line-height));
}

.p-16 {
    font-size: var(--p-16-size-mobile);
    line-height: calc(var(--p-16-size-mobile) + var(--line-height));
}

.p-14 {
    font-size: var(--p-14-size-mobile);
    line-height: calc(var(--p-14-size-mobile) + var(--line-height));
}

@media (min-width: 672px) {
    h1 {
        font-size: var(--h1-font-size);
        line-height: calc(var(--h1-font-size) + var(--line-height));
    }

    h2 {
        font-size: var(--h2-font-size);
        line-height: calc(var(--h2-font-size) + var(--line-height));
    }

    h3 {
        font-size: var(--h3-font-size);
        line-height: calc(var(--h3-font-size) + var(--line-height));
    }

    h4 {
        font-size: var(--h4-font-size);
        line-height: calc(var(--h4-font-size) + var(--line-height));
    }

    .p-lead {
        font-size: var(--p-lead-size);
        line-height: calc(var(--p-lead-size) + var(--line-height));
    }

    .p-18 {
        font-size: var(--p-18-size);
        line-height: calc(var(--p-18-size) + var(--line-height));
    }

    .p-16 {
        font-size: var(--p-16-size);
        line-height: calc(var(--p-16-size) + var(--line-height));
    }

    .p-14 {
        font-size: var(--p-14-size);
        line-height: calc(var(--p-14-size) + var(--line-height));
    }

    .h1-mobile {
        font-size: var(--h1-font-size-mobile);
        line-height: calc(var(--h1-font-size-mobile) + var(--line-height));
    }

    .h2-mobile {
        font-size: var(--h2-font-size-mobile);
        line-height: calc(var(--h2-font-size-mobile) + var(--line-height));
    }

    .h3-mobile {
        font-size: var(--h3-font-size-mobile);
        line-height: calc(var(--h3-font-size-mobile) + var(--line-height));
    }

    .h4-mobile {
        font-size: var(--h4-font-size-mobile);
        line-height: calc(var(--h4-font-size-mobile) + var(--line-height));
    }
}


